@charset "utf-8";
/* CSS Document */

div.unselected-page {
    /* opacity: 0.5; */
}

div.aptitud-page {
	position: relative;	
	/* -moz-box-shadow:  0 0 2px 2px #888;
	-webkit-box-shadow:  0 0 2px 2px#888;
	box-shadow:  0 0 2px 2px #888;*/
    overflow: hidden;
    visibility: hidden;
}

div.blogcontent {
    width: 55%;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
}

div.blog {
    overflow: scroll;
    height:450px;
    overflow-x: hidden;
}

div {

}

body {
	overflow: hidden;
}

p.paragraph, div.blog {
    color: white;
    text-align: left;
    font-weight: lighter;
    font-size: 13pt;
    font-family: sans-serif;
}

div.blog {
    padding-right: 20px;
}

/* CALENDAR PAGE */

.aptitud-calendar-event {
    background: #FFFFFF;
    max-width: 30%;
    margin: 10px;
    text-align: left;
    font-size: 10pt;
    padding: 10px;
    box-shadow: 0px 0px 10px #505050;
}

.aptitud-calendar-event .title {
    font-size: 11pt;
    font-weight: bold;
}

.aptitud-calendar-event .content {
    overflow: auto;
}

.aptitud-calendar-event .time {
    font-weight: bold;
}

#calendar-container {
    width: 90%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 4%;
}

#fellow-board {
    position: relative;
    width: 90%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

#fellow-board div.portrait {
    position: absolute;
}

#fellow-board {
    text-align: center;
}

#fellow-board .portrait-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#fellow-board .portrait img.portrait {
    width: 100%;
}

.page-header {
    max-height: 12%;
    max-width: 80%;
    margin-top: 7%;
    margin-bottom: 2%;
}

.home-button {
    position: absolute;
    cursor: pointer;
    cursor: hand;

}

#calendarPage .page-header {
    margin-top: 7%;
}

.aptitud-day-banner {
    margin-top: 8%;
    width: 40%;
}

#aptitud-day-text, #philosophy-text, #blog-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#blog-text {
    max-height: 60%;
}