@charset "utf-8";
/* CSS Document */

#viewport {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}

a {
    color: black;
}

img {
    border:none;
}

div.unselected-page {
    /* opacity: 0.5; */
}

div.aptitud-page {
	position: relative;	
	/* -moz-box-shadow:  0 0 2px 2px #888;
	-webkit-box-shadow:  0 0 2px 2px#888;
	box-shadow:  0 0 2px 2px #888;*/
    overflow: hidden;
}

div.blogcontent {
    width: 55%;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
}

div.blog {
    overflow: scroll;
    height:450px;
    overflow-x: hidden;
}

div {

}

p.paragraph, div.blog {
    color: white;
    text-align: left;
    font-weight: lighter;
    font-size: 13pt;
    font-family: sans-serif;
}

div.blog {
    padding-right: 20px;
}

/* CALENDAR PAGE */

.aptitud-calendar-event {
    background: #FFFFFF;
    max-width: 30%;
    margin: 10px;
    text-align: left;
    font-size: 10pt;
    padding: 10px;
    box-shadow: 0px 0px 10px #505050;
}

.aptitud-calendar-event .title {
    font-size: 11pt;
    font-weight: bold;
}

.aptitud-calendar-event .content {
    overflow: auto;
}

.aptitud-calendar-event .time {
    font-weight: bold;
}

#calendar-container {
    width: 90%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 4%;
}

#fellow-board {
    position: relative;
    width: 90%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

#fellow-board div.portrait {
    position: absolute;
}

#fellow-board {
    text-align: center;
}

#fellow-board .portrait-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#fellow-board .portrait img.portrait {
    width: 100%;
}

.page-header {
    max-height: 12%;
    max-width: 80%;
    margin-top: 7%;
    margin-bottom: 2%;
}

img.button, .home-button {
    position: absolute;
    cursor: pointer;
    cursor: hand;
}

.aptitud-calendar-event {
    cursor: pointer;
    cursor: hand;
}

#calendarPage .page-header {
    margin-top: 7%;
}

.aptitud-day-banner {
    margin-top: 8%;
    width: 40%;
}

#aptitud-day-text, #philosophy-text, #blog-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#blog-text {
    max-height: 60%;
}

#startPage img.home-image, #start-blog, #start-aptitud-day, #start-calendar {
    position: absolute;
}

#start-blog-preview { 
		position: absolute; 
		overflow: hidden; 
		left: 8%; 
		top: 42%; 
		width: 82%; 
		height: 42%; 
		text-align: left; 
		font-size: 8pt; }

#start-calendar-preview { 
		position: absolute; 
		overflow: hidden; 
		left: 20%; 
		top: 25%; 
		width: 65%; 
		height: 65%; 
		text-align: left; 
		font-size: 10pt; 
		z-index:100; }		
		
#start-aptitud-day-date-preview { 
		position: absolute; 
		overflow: hidden; 
		left: 33%; 
		top: 73%; 
		width: 30%; 
		height: 6%; 
		text-align: left; 
		font-size: 8pt; 
		z-index:100; }

#start-aptitud-day-theme-preview { 
		position: absolute; 
		overflow: hidden; 
		left: 21.5%; 
		top: 82%; 
		width: 30%; 
		height: 6%; 
		text-align: left; 
		font-size: 8pt; 
		z-index:100; }


@media all and (orientation:landscape) {
    #start-blog { left: 8%; top: 26%; width: 15%; }
    #start-30sek { left: 49%; top: 17%; height: 14%; }
    #start-logo { left: 30%; top: 25%; width: 40%; }
    #start-calendar { left: 75%; top: 3%; width: 18%; }
    #start-aptitud-day { left: 10%; top: 70%; width: 20%;}
    #start-oredev { left: 40%; top: 70%; width: 20%; }
    #start-benice { left: 73%; top: 68%; width: 12%;z-index:101; }
    #start-we { left: 60%; top: 14%; width: 8%; }
    #start-fb { left: 32.5%; top: 61%; width: 3%; }
    #start-twitter { left: 36%; top: 63%; width: 3%; }
    #start-linkedin { left: 39.5%; top: 65%; width: 3%; }
		#start-klotter { left: 10%; top: 1%; width: 20%; }
}

@media all and (orientation:portrait) {
    #start-blog { left: 4%; top: 2%; width: 25%; }
    #start-logo { left: 20%; top: 30%; width: 60%; }
    #start-30sek { left: 49%; top: 19%; height: 10%; }
    #start-calendar { left: 78%; top: 5%; width: 20%; }
    #start-aptitud-day { left: 4%; top: 78%; height: 20%; }
    #start-oredev { left: 64%; top: 70%; width: 35%; }
    #start-benice { left: 75%; top: 70%; width: 12%; }
    #start-we { left: 65%; top: 17%; width: 13%; }
}

/*#start-blog { max-width: 15%; max-height: 60%;}
#start-blog-preview { position: absolute; overflow: hidden; left: 8%; top: 42%; width: 82%; height: 42%; text-align: left; font-size: 8pt; }
.home-image, #start-blog { position: absolute; }
#start-logo { position: absolute; max-width: 43%; max-height: 43%; }
#home-fb, #home-twitter, #home-linkedin { width: 2.5%;  }
#start-we { max-width: 10%; }
#start-30sek { max-width: 10%; }
#start-calendar { max-width: 15%; }
#start-aptitud-day { max-width: 20%; }
#start-oredev { max-width: 20%; max-height: 25%; }
#start-benice { max-width: 15%; }*/